body{
    background: color #808080;
}
h1{
 text-align: center;
 text-decoration-color: antiquewhite;   
 font-size: 35px;
}

#pedroso {
    width: 100%;
}
#logan{
    width:20% ;

}
p{
    text-align: center;
    text-decoration-color: antiquewhite;
    font-size: 20px;
}
